<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Insert_School</h1>
        <form action="" method="POST">

            {% csrf_token %}

            <label for="un">School Name: </label>
            <input type="text" id="scn" name="scn"><br><br>

            <label for="sp">School Principal: </label>
            <input type="text" id="sp" name="sp"><br><br>
            
            <label for="sl">School Location: </label>
            <input type="text" id="sl" name="sl"><br><br>

            <input type="submit" value="Submit">
            
        </form>
    </center>
</body>
</html>